Package: nanny
Version: VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Dmitry Romashov <dmitry@romashov.tech>
Description: Nanny
  - is a command line interface for creation
  Github Pull Requests for projects with multiple
  release versions.
